<ion-content>
  <div class="opci">
    <ion-item>
      <ion-label>รายละเอียดของผู้ให้บริการ</ion-label>
      <ion-button color="danger" slot="end" (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;ปิด
      </ion-button>
    </ion-item>
  </div>
  <div padding>
    <div class="calendar_header">
      <h1 class="header_title">{{code}}</h1>
      <p class="header_copy"> บริการฉีดพ่นปุ๋ย สารเคมี</p>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label color="primary">
        <p class="kanit-title">เกี่ยวกับผู้ให้บริการ</p>
      </ion-label>
      <img [src]="img" />
    </ion-item>
    <ion-item>
      <ion-label>ชื่อผู้ให้บริาร: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>รหัสผู้ใช้บริการ: {{list}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>รายละเอียด:<br> ให้บริการฉีดพ่นปุ๋ย สารเคมี <br> สำหรับพืชผลทางการเกษตรทุกชนิด</ion-label>
    </ion-item>
  </ion-list>

  <!-- <div padding>
    <div class="calendar_events">
      <p class="ce_title">อุปกรณ์ที่ใช้</p>
      <div class="event_item">
        <div class="ei_Dot dot_active"></div>
        <div class="ei_Title">ชื่อผู้ให้บริาร: {{code}}</div>
        <div class="ei_Copy">รหัสผู้ใช้บริการ: {{list}}</div>
      </div>
      <div class="event_item">
        <div class="ei_Dot"></div>
        <div class="ei_Title">12:00 pm</div>
        <div class="ei_Copy">Lunch for with the besties</div>
      </div>
      <div class="event_item">
        <div class="ei_Dot"></div>
        <div class="ei_Title">13:00 pm</div>
        <div class="ei_Copy">Meet with the client for final design <br> @foofinder</div>
      </div>
      <div class="event_item">
        <div class="ei_Dot"></div>
        <div class="ei_Title">14:30 am</div>
        <div class="ei_Copy">Plan event night to inspire students</div>
      </div>
      <div class="event_item">
        <div class="ei_Dot"></div>
        <div class="ei_Title">15:30 am</div>
        <div class="ei_Copy">Add some more events to the calendar</div>
      </div>
    </div>
  </div> -->


  <div padding>
    <ion-button color="secondary" (click)="gotoChat()">สอบถาม</ion-button>
    <ion-button color="success" (click)="gotoOrder()">จองคิว</ion-button>

  </div>


</ion-content>